<main class="errorPage">

    <section id="errorPage">
        <div>
            <h2>🗺️ Uh oh! Wrong Address!</h2>
            <h3>You've wandered off the property map (404 Error)</h3>
            <p>This page seems to be in an unlisted neighbourhood. Don't worry, we'll get you back to listings
                with solid foundations! 🏠</p>
            <a href="/" class="back-btn">Return to Home Search</a>
        </div>
    </section>
</main>