<main class="report-section">
    <section id="report-section">
        <h2>Report</h2>
        <ul class="report-list">
            <!-- Display a li with information about every post (if any)-->

            <li class="report-property">
                <img src="./static/images/house.jpg" />
                <div>
                    <h3>House</h3>
                    <p><strong>Price:</strong> <br> 395000 EUR</p>
                    <p><strong>Contact:</strong> <br> 0987654321</p>
                    <p><strong>Location:</strong> <br>Sofia</p>
                    <p><strong>Area:</strong> <br> 499 sq.m</p>
                    <p><strong>Created on:</strong> <br>19/12/2025</p>
                    <p><strong>Owner:</strong> <br> user@example.com</p>
                </div>
            </li>

            <li class="report-property">
                <img src="./static/images/apartment.jpg" />
                <div>
                    <h3>Apartment</h3>
                    <p><strong>Price:</strong> <br> 195000 EUR</p>
                    <p><strong>Contact:</strong> <br> 0987654321</p>
                    <p><strong>Location:</strong> <br>Sofia</p>
                    <p><strong>Area:</strong> <br> 102 sq.m</p>
                    <p><strong>Created on:</strong> <br>19/12/2025</p>
                    <p><strong>Owner:</strong> <br> user2@example.com</p>
                </div>
            </li>


            <li class="report-property">
                <img src="./static/images/store.jpg" />
                <div>
                    <h3>Store</h3>
                    <p><strong>Price:</strong> <br> 225000 EUR</p>
                    <p><strong>Contact:</strong> <br> 0987654321</p>
                    <p><strong>Location:</strong> <br>Sofia</p>
                    <p><strong>Area:</strong> <br> 300 sq.m</p>
                    <p><strong>Created on:</strong> <br>19/12/2025</p>
                    <p><strong>Owner:</strong> <br> user3@example.com</p>
                </div>
            </li>

        </ul>

        <!-- Display an h2 if there are no posts -->
        <!-- <h2 id="no-post">There are no properties yet! </h2> -->

        <!-- Display an h2 if an error occurs -->
        <!-- <h2 id="no-post">Error loading report! </h2> -->

    </section>
</main>